<!-- search.html -->
<style>
    .search {
        display: flex;
        align-items: center; /* Center items vertically */
        justify-content: center; /* Center items horizontally */
        height: 100vh; /* Adjust the height as needed */
    }

    .form {
        text-align: center; /* Center the form contents horizontally */
    }

</style>

<div class="search">
    <form action="{% url 'search' %}" class="form">
        <input name="title"
               value="{{ request.GET.title }}"
               placeholder="Search for a title"
        >
        <button type="submit">Search</button>
    </form>
</div>
